<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel to JSON Converter</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container">
        <h1>Excel to JSON Converter</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="fileInput" name="file" accept=".xlsx, .xls" required>
            <button type="button" onclick="uploadFile()">Upload and Select Columns</button>
        </form>

        <div id="columnSelection">
            <h2>Select Columns to Convert:</h2>
            <form id="convertForm" enctype="multipart/form-data">
                <div id="columnsCheckboxes"></div>
                <label for="json_filename">JSON Filename:</label>
                <input type="text" id="json_filename" name="json_filename" required placeholder="Enter JSON filename">
                <button type="button" onclick="convertToJson()">Convert to JSON</button>
            </form>
        </div>
    </div>

    <script>
        function uploadFile() {
            const formData = new FormData();
            const fileInput = document.getElementById('fileInput');
            formData.append('file', fileInput.files[0]);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json()) 
            .then(data => {
                const columns = data.columns; 
                const columnsCheckboxes = document.getElementById('columnsCheckboxes');
                columnsCheckboxes.innerHTML = '';

                if (Array.isArray(columns)) {
                    columns.forEach(column => {
                        columnsCheckboxes.innerHTML += `<input type="checkbox" name="columns" value="${column}">${column}<br>`;
                    });
                    document.getElementById('columnSelection').style.display = 'block';
                } else {
                    console.error('Columns is not an array');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function convertToJson() {
            const convertForm = document.getElementById('convertForm');
            const formData = new FormData(convertForm);
            formData.append('file', document.getElementById('fileInput').files[0]);

            fetch('/convert', {
                method: 'POST',
                body: formData
            })
            .then(response => response.blob())
            .then(blob => {
                const link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = document.getElementById('json_filename').value + '.json';
                link.click();
            });
        }
    </script>
</body>
</html>
